@import 'responsive.sсss';

.content {
	padding-bottom: 80px;
	@include media(sm) {
		padding-bottom: 45px;
	}
	&__text {
		a {
			color: #fff;
			text-decoration: underline;
			font-weight: 500;
			font-family: 'Montserrat', sans-serif;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			font-size: 16px;
			line-height: 1.88;
			color: #333333;
			@include media(sm) {
				font-size: 15px;
			}
			&:not(:last-child) {
				padding-bottom: 2em;
				@include media(mdx) {
					padding-bottom: 1.5em;
				}
				@include media(sm) {
					padding-bottom: 1em;
				}
			}
		}
		h2, h3, h4, h5, h6 {
			color: #333333;
			text-transform: uppercase;
			padding-bottom: 34px;
			@include media(mdx) {
				padding-bottom: 30px;
			}
			@include media(sm) {
				padding-bottom: 25px;
			}
		}
		h2 {
			font-size: 36px;
			@include media(mdx) {
				font-size: 32px;
			}
			@include media(sm) {
				font-size: 26px;
			}
			@include media(small) {
				font-size: 22px;
			}
		}
		h3 {
			font-size: 30px;
			@include media(mdx) {
				font-size: 26px;
			}
			@include media(sm) {
				font-size: 22px;
			}
			@include media(small) {
				font-size: 19px;
			}
		}
		h4 {
			font-size: 26px;
			@include media(mdx) {
				font-size: 24px;
			}
			@include media(sm) {
				font-size: 20px;
			}
			@include media(small) {
				font-size: 18px;
			}
		}
		h5 {
			font-size: 24px;
			@include media(mdx) {
				font-size: 22px;
			}
			@include media(sm) {
				font-size: 19px;
			}
			@include media(small) {
				font-size: 17px;
			}
		}
		h6 {
			font-size: 22px;
			@include media(mdx) {
				font-size: 20px;
			}
			@include media(sm) {
				font-size: 18px;
			}
			@include media(small) {
				font-size: 16px;
			}
		}
		strong {
			font-size: 20px;
			font-weight: 700;
			@include media(mdx) {
				font-size: 18px;
			}
			@include media(sm) {
				font-size: 16px;
			}
		}
		ol, ul {
			margin: 0;
			padding: 0;
			li {
				list-style-position: inside;
				position: relative;
				font-size: 16px;
				line-height: 1.4;
				@include media(sm) {
					font-size: 15px;
				}
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
	}
	blockquote {
		background-color: #162578;
		border-radius: 4px;
		padding: 20px;
		margin-bottom: 36px;
		p {
			color: #fff;
			&:not(:last-child) {
				padding-bottom: 2px;
				@include media(mdx) {
					padding-bottom: 2px;
				}
				@include media(sm) {
					padding-bottom: 2px;
				}
			}
		}
	}
}