@import 'responsive.sсss';

.factoring {
	background-image: url(../img/bg-factoring.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0;
	position: relative;
	@include media(mdx) {
		padding: 60px 0;
	}
	@include media(sm) {
		padding: 40px 0;
	}
	&:after {
		position: absolute;
		content: '';
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #F0F6FC 23.18%, rgba(240, 246, 252, 0) 100%);
	}
	&__wrap {
		position: relative;
		z-index: 2;
	}
	&__title {
	    font-size: 48px;
	    line-height: 1.2;
	    color: #051367;
	    text-transform: uppercase;
	    margin-bottom: 60px;
	    font-weight: 900;
	    @include media(mdx) {
	    	font-size: 36px;	
	    }
	    @include media(sm) {
	    	font-size: 28px;	
	    	margin-bottom: 40px;	
	    }
	}
	&__text {
		max-width: 600px;
		margin-bottom: 65px;
		@include media(mdx) {
			margin-bottom: 40px;
		}
		p {
			font-size: 18px;
			line-height: 2;
			color: #333333;
			@include media(mdx) {
				font-size: 16px;
			}
			@include media(mdx) {
				font-size: 15px;
			}
		}
		h2, h3, h4, h5, h6 {
			line-height: 1.2;
			color: #051367;
			text-transform: uppercase;
			margin-bottom: 65px;
			font-weight: 400;
			@include media(mdx) {
		    	margin-bottom: 50px;	
		    }
		    @include media(sm) {
		    	margin-bottom: 35px;	
		    }
		}
		h2 {
			font-size: 44px;
			@include media(mdx) {
				font-size: 40px;
			}
			@include media(sm) {
				font-size: 32px;
			}
		}
		h3 {
			font-size: 40px;
			@include media(mdx) {
				font-size: 36px;
			}
			@include media(sm) {
				font-size: 28px;
			}
		}
		h4 {
			font-size: 36px;
			@include media(mdx) {
				font-size: 32px;
			}
			@include media(sm) {
				font-size: 24px;
			}
		}
		h5 {
			font-size: 32px;
			@include media(mdx) {
				font-size: 28px;
			}
			@include media(sm) {
				font-size: 20px;
			}
		}
		h6 {
			font-size: 28px;
			@include media(mdx) {
				font-size: 16px;
			}
		}
	}
}