
.page-inner {
	&__holder {
		position: relative;
		padding-top: 70px;
		 @include media(mdx) {
		 	padding-top: 40px;
		 }
	}
	&__wrap {
		display: flex;
		flex-wrap: wrap;
		@include media(mdx) {
			display: block;
		}
	}
	&__item {
		&--block {
			display: flex;
		    align-items: center;
		    justify-content: center;
			position: absolute;
			right: 0px;
			top: 0px;
			width: 520px;
			min-height: 1010px;
			background-color: #051367;
			@include media(mdx) {
				position: relative;
				height: initial;
				min-height: 500px;
				width: calc(100% + 40px);
				margin-left: -20px;
				top: initial;
				right: initial;
			}
			.contacts__item--form {
				width: 100%;
				@include media(mdx) {
					padding: 20px;
				}
				&:after {
					background-size: initial;
					background-position: bottom 22px center;
					@include media(mdx) {
						display: none;
					}
				}
			}
			&:after {
				position: absolute;
				content: '';
				z-index: 2;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background: rgba(5, 19, 103, 0.7);
			}
			.title {
				position: relative;
			    z-index: 3;
			    color: #fff;
			    text-align: center;
			}
		}
		&--content {
			width: calc(100vw - 560px);
			max-width: 1020px;
			padding-right: 20px;
			@include media(mdx) {
				width: 100%;
				max-width: 100%;
				padding-right: 0px;
			}
			.title {
				color: #333;
				margin-bottom: 45px;
				@include media(sm) {
					margin-bottom: 36px;
				}
			}
		}
	}
	&__text {
		max-width: 800px;
		margin-bottom: 34px;
		p {
			font-size: 16px;
			line-height: 1.88;
			color: #333333;
			@include media(sm) {
				font-size: 15px;
			}
			&:not(:last-child) {
				padding-bottom: 2em;
				@include media(mdx) {
					padding-bottom: 1.5em;
				}
				@include media(sm) {
					padding-bottom: 1em;
				}
			}
		}
		h2, h3, h4, h5, h6 {
			color: #333333;
			text-transform: uppercase;
			padding-bottom: 34px;
			@include media(mdx) {
				padding-bottom: 30px;
			}
			@include media(sm) {
				padding-bottom: 25px;
			}
		}
		h2 {
			font-size: 40px;
			@include media(mdx) {
				font-size: 34px;
			}
			@include media(sm) {
				font-size: 28px;
			}
		}
		h3 {
			font-size: 38px;
			@include media(mdx) {
				font-size: 32px;
			}
			@include media(sm) {
				font-size: 26px;
			}
		}
		h4 {
			font-size: 36px;
			@include media(mdx) {
				font-size: 30px;
			}
			@include media(sm) {
				font-size: 24px;
			}
		}
		h5 {
			font-size: 33px;
			@include media(mdx) {
				font-size: 27px;
			}
			@include media(sm) {
				font-size: 22px;
			}
		}
		h6 {
			font-size: 30px;
			@include media(mdx) {
				font-size: 28px;
			}
			@include media(sm) {
				font-size: 18px;
			}
		}
	}
}