@import 'responsive.sсss';

$star: #ffcb05;
$star-block: darken(#ffcb05, 10%);
$present: #f21919;
$present-block: darken(#f21919, 10%);
$percent: #7ed321;
$percent-block: darken( #7ed321, 10%);

$icon-bg-fb: #00558b;
$icon-bg-tw: #12cce8;
$icon-bg-youtube: #ff0000;
$icon-bg-linkedin: #4fa0ff;
$icon-bg-tl: #515151;
$icon-size: 40px;